<input type="checkbox" <% if (completed) { %>checked<% } %>>
<form>
    <input type="text" value="<%= title %>">
</form>
<span>
    <%= title %>
</span>
<ul class="todo-categories">
	<% _.each(categories, function(category) { %>
		<li class="category-<%= category %>"><%= category %></span>
	<% }); %>
</ul>