<form class="input-append">
    <input type="text" id="new-todo" placeholder="What do you need to do today?">
    <input type="submit" class="btn" value="Submit">
</form>
<ul class="todos">
    <!-- Where our To Do items will go -->
</ul>
<span id="removeDone" class="clickable"> Remove Done </span>
<ul id="counters">
	<!-- Where our To Do counters will go -->
</ul>